body{
    background-color: rgb(255, 192, 231);
    padding-left: 12rem; 
}
.ivy{
    /* width: 200px; */
    border: 2px solid #fa9add;
    border-radius: 50px;
}
.card-title{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card{
    /* margin-left: 10rem; */
display: inline-block;
width: 26vw;
}
.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-img-top{
    height: 24vw;
    width: 24vw;
    object-fit:contain;
}
.text-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    border: 5px solid rgb(0, 0, 0);
   margin-top: 0.5rem;
   color:black;
   font-style:italic;
   background-color: pink;
   
}
#lux-text{
margin: 2rem auto;
border: 0.3rem solid black;
box-shadow:1rem 1rem 2rem ;


}
#login-page{
    text-align:center;
}
.price{
    text-align: right;
}
td,th{
    border: 1px solid black;
padding: 0.25rem 0.5rem;
}
table{
    border-collapse: collapse; 

}
header a{
    background-color: black;
    color: rgb(253, 216, 9);
    padding: 0.2rem;
    display:inline-block;
    text-decoration: none;
    border-radius: 0.2rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
}
header a:hover{
color: white;
}
.btn-primary{
    background-color: hotpink;
    border: 2px solid rgb(237, 5, 121);
}
#lux-temp{
    margin: 2rem auto;
    border: 0.3rem solid black;
    box-shadow: 1rem 1rem 2rem black;
}
#logo{
    background-image: url(../images/petals.jpg);
    height: 90px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
#store-page #logo{
    transform: rotate(-90deg);
    width: 300px;
    height: 100px;
    position: absolute;
    left:-100px;
    top:5rem;
}
#splash-text{
    background-repeat:no-repeat; 
    background-size: cover;
    
    
}
.flow-text{
    margin: 1rem;
  border: 0.2rem solid pink;
  background-color: aliceblue;
  text-align: center;
}
body{
    background-color: rgb(204, 194, 194);
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .shopping{
position: relative;
text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.cart{
    background-color: rgb(232, 165, 198);
    transition: 0.5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5rem;
}
.cart table{
    width: 90%;
}
.cart h1{
    color: deeppink;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.cart{
    position: fixed;
    left:100%;
top:0;
bottom: 0;
width: 500px;
}
.active .cart{
    left: calc(100% - 500px);

}
.active .container{
    transform: translateX(-200px);
}
header a{
    text-decoration:overline;
    color:deeppink;
    text-shadow: 1px 1px 1px rgb(247, 241, 241);
    font-weight: bold;

}
header a:hover{
    color: black;
}
#x-text{
width: 40px;
}
body.home{
    background-image:url("../images/petals.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}