body{
    background-color: rgb(255, 192, 231);
    padding-left: 12rem;
}
#ivy{
    /* width: 200px; */
    border: 2px solid black;
    border-radius: 50px;
}
.card-title{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card{
    /* margin-left: 10rem; */
display: inline-block;
width: 26vw;
}
.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-img-top{
    height: 24vw;
    width: 24vw;
    object-fit:contain;
}
.text-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    border: 5px solid rgb(0, 0, 0);
   margin-top: 0.5rem;
   color:black;
   font-style:italic;
   background-color: pink;
   
}
#lux-text{
margin: 2rem auto;
border: 0.3rem solid black;
box-shadow:1rem 1rem 2rem ;


}
#login-page{
    text-align:center;
}
.price{
    text-align: right;
}
td,th{
    border: 1px solid black;
padding: 0.25rem 0.5rem;
}
table{
    border-collapse: collapse; 

}
header a{
    background-color: black;
    color: rgb(253, 216, 9);
    padding: 0.2rem;
    display:inline-block;
    text-decoration: none;
    border-radius: 0.2rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
}
header a:hover{
color: white;
}
.btn-primary{
    background-color: hotpink;
    border:2px solid rgb(237, 5, 121)
}
#lux-temp{
    margin: 2rem auto;
    border: 0.3rem solid black;
    box-shadow: 1rem 1rem 2rem black;
}
#logo{
    background-image: url(../petals.jpg);
    height: 90px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
#store-page #logo{
    transform: rotate(-90deg);
    width: 300px;
    height: 100px;
    position: absolute;
    left:-100px;
    top:5rem;
}
#splash-text{
    background-repeat:no-repeat; 
    background-size: cover;
    
}